/* Gray #343a40 */
/* color: rgb(56, 66, 66); */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: rgb(56, 66, 66);
  margin-bottom: 30px;
}

.header-container-top {
  padding-top: 50px;
  display: flex;
}

.header-container-top h1 {
  flex: 1;
  font-weight: 400;
  font-size: 24px;
  padding-left: 70px;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navigation ul {
  margin-right: 70px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.navigation ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: inherit;
}

/* HEADER */
.header-container {
  display: flex;
  margin-top: 70px;
}

.header-container-container {
  flex: 1;
  box-sizing: border-box;
  padding-left: 100px;
}

.header-container-container h2 {
  font-size: 73px;
  font-weight: 700;
  letter-spacing: -2.5px;
  line-height: 1.2;
}

.header-container-container h2 strong {
  color: rgb(204, 173, 114);
}

.header-container-container h3 {
  font-size: 30px;
  font-weight: 400;
}

.header-container-container a {
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.header-container-figure {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header-container-figure img {
  width: 320px;
}